body{
    padding: 0;
    margin: 0;
    background-image: url('/static/images/stadium.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header{
    nav{
        a{
            font-weight: 600;
            font-size: 1.5rem;
            color: #3E3568!important;
            font-family: sans-serif;
        }
        .navitem{
            font-size: 16px;
            cursor: pointer;
            .user{
                padding: 10px 18px;
                background: #eee;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}
main{
    width: 100%;
    padding: 5%;
    h1{
        text-align: center;
        font-size: 1.8rem;
        font-family: sans-serif;
        font-weight: bolder;
        color: #134b70;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #508c9b;
    }
    h5{
        display: none;
        color: #F535AA;
        font-family: sans-serif;
        font-weight: bolder;
        -webkit-text-stroke: 0.1px #fff;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        span{
            font-size: 16px;
            margin-left: 15px;
            color: #3E3568;
            -webkit-text-stroke: 0;
            display: inline-block;
            animation: pulse 1.2s infinite ease-in-out;
        }
    }
    section{
        width: 100%;
        margin: 20px 0px 10px 0px;
        background: teal;
        border-radius: 5px;
        .options{
            display: none;
            margin-bottom: 5px;
            .btn{
                margin-right: 6px;
                svg{
                    margin-top: -2px;
                }
            }
        }
        .expender{
            width: 100%;
            padding: 5px 10px;
            color: #fff;
            transition: 1s ease-in-out;
            svg{
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
        ul{
            display: none;
            padding: 0px;
            background: #ffffff9d;
            backdrop-filter: blur(5px);
            border-radius: 5px;
            max-height: 60vh;
            overflow: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            scrollbar-color: teal transparent;
            li{ 
                .head{
                    color: #fff;
                    font-weight: bolder;
                    padding: 2px 6px;
                    font-size: 18px;
                    border-right: 3px solid #fff;
                    overflow: hidden;
                }
                .data{
                    padding: 2px 6px;
                    margin: 8px 0px;
                    color: #201e43;
                    font-family: sans-serif;
                    font-weight: 600;
                    overflow: hidden;
                }
            }
            li.flx:has(> .data) {
                display: grid !important;
                grid-template-columns: repeat(3, 1fr);
                .data{
                    width: 100%;
                }
            }
        }
        ul li.flx:first-child {
            position: sticky;
            top: 0;
            background: #008080;
            z-index: 10;
        }
    }
}
li:nth-child(1){
    background: teal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
li .head:nth-child(1), li .data:nth-child(1){
    width: 35%;
    width: 33%;
}
li .head:nth-child(2), li .data:nth-child(2){
    width: 30%;
    width: 33%;
}
li .head:nth-child(3), li .data:nth-child(3){
    width: 35%;
    width: 33%;
    border-right: none;
}
li .data:nth-child(4){
    margin-top: 0px;
    border-bottom: 0.5px solid teal;
}
.blbg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: #00000071;
    backdrop-filter: blur(5px);
}
.loginPage{
    display: none;
    .login{
        width: 50%;
        margin: 10% auto;
        padding: 20px 40px;
        background: #fff;
        border-radius: 10px;
        h2{
            text-align: center;
            font-weight: 700;
            font-family: math;
            color: #3E3568;
            margin-bottom: 10px;
        }
        form{
            padding: 10px 0px;
            .form-check{
                margin: 40px 0px 20px 0px;
            }
        }
    }
}
.loader{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background: #fff;
    z-index: 99;
}
.loadtext{
    position: fixed;
    top: 50%;
    left: 0px;
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-weight: 600;
    color: navy;
}
.loading{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 48%;
    animation: rotate 1s linear infinite
}
.loading::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid teal;
    animation: prixClipFix 2s linear infinite ;
}
@keyframes rotate{
    100%  {transform: rotate(360deg)}
}
@keyframes prixClipFix{
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    body{
        background-position: center;
        height: 100vh;
        backdrop-filter: blur(4px);
    }
    main{
        padding: 5% 2%;
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1.2rem;
        }
        section {
            .options{
                .btn{
                    font-size: 0px;
                    svg{
                        font-size: 1rem;
                    }
                }
            }
            ul {
                li {
                    .head {
                        font-size: 16px;
                    }
                    .data{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .loginPage {
        .login {
            width: 95%;
        }
    }
}
/* Desktop view */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    main{
        section {
            .options{
                .btn{
                    font-size: 0.7rem;
                    svg{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
/* Tab view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main{
        section {
            .options{
                .btn{
                    font-size: 1rem;
                    svg{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}